<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="site-footer">
  <small>
    © Designed by BS Design Studio •
    <a class="link" href="https://validator.w3.org/nu/" target="_blank" rel="noopener">
      HTML Validator
    </a> •
    <a class="link" href="https://jigsaw.w3.org/css-validator/" target="_blank" rel="noopener">
      CSS Validator
    </a> •
    <a class="link" href="https://wave.webaim.org/" target="_blank" rel="noopener">
      WCAG Checker
    </a>
  </small>
</footer>

</body>
</html>