<nav aria-label="footer">
      <ul>
        <li><a href="https://webpages.charlotte.edu/bsaund12/" target="_blank" rel="noopener">Webspace</a></li>
        <li><a href="https://github.com/bsaund12" target="_blank" rel="noopener">GitHub.com</a></li>
        <li><a href="https://bsaund12.github.io/" target="_blank" rel="noopener">GitHub.io</a></li>
        <li><a href="https://bsaund12.github.io/itis3135/" target="_blank" rel="noopener">Course.io</a></li>
        <li><a href="http://freecodecamp.org/briansaundersj" target="_blank" rel="noopener">FreeCodeCamp</a></li>
        <li><a href="http://codecademy.com/profiles/BrianSaundersJr" target="_blank" rel="noopener">Codecademy</a></li>
        <li><a href="http://www.linkedin.com/in/bj-saunders" target="_blank" rel="noopener">LinkedIn</a></li>
        <li><a href="bashfulshark/" target="_blank" rel="noopener">Bashful Shark</a></li>
      </ul>

      <script>document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href)
  document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/check?uri=" + location.href)
</script>
    </nav>

   <p>Designed by <a href="https://webpages.charlotte.edu/bsaund12/itis3135/bsaundersdesign.co/">BS Design Studio</a> — BS Design Studio ©2025</p>