<nav aria-label="footer">
      <ul>
        <li><a href="https://webpages.charlotte.edu/bsaund12/" target="_blank" rel="noopener">Webspace</a></li>
        <li><a href="https://github.com/bsaund12" target="_blank" rel="noopener">GitHub.com</a></li>
        <li><a href="https://bsaund12.github.io/" target="_blank" rel="noopener">GitHub.io</a></li>
        <li><a href="https://bsaund12.github.io/itis3135/" target="_blank" rel="noopener">Course.io</a></li>
        <li><a href="http://freecodecamp.org/briansaundersj" target="_blank" rel="noopener">FreeCodeCamp</a></li>
        <li><a href="http://codecademy.com/profiles/BrianSaundersJr" target="_blank" rel="noopener">Codecademy</a></li>
        <li><a href="http://www.linkedin.com/in/bj-saunders" target="_blank" rel="noopener">LinkedIn</a></li>
        <li><a href="bashfulshark/" target="_blank" rel="noopener">Bashful Shark</a></li>
      </ul>
    </nav>

   <p>Designed by <a href="bsaundersdesign.co/">BS Design Studio</a> — BS Design Studio ©2025</p>